@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Noto+Serif:wght@700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color:#9AECDB;
}

.parent_div{
  width:100vw;
  height:100vh;
  display:grid;
  place-items: center;
  
}

.parent_div{
  width:60vw;
  height:60vh;
}

.task_form {
  font-family: 'Noto Serif', serif;
  
}
.list_task{
  font-family: 'Balsamiq Sans', cursive;
}
.del{
  background-color: transparent !important;
}



.card_task{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}